<!-- bootstrap currentUser to the window when page loads to ensure app is always aware of who currentUser is if and when one is logged in-->
<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      'api/users/user.json.jbuilder',
      user: current_user
    ).html_safe %>
  </script>
<% end %>

<!-- container where Root component from frontend apertr.jsx entry file mounts to - display content of main tag if the component fails to mount -->
<main id="root">Something's wrong.</main>
