html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}
/* line 1, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_create.scss */
.album-create-background {
  background-color: #f3f5f6;
  flex: 1 0 auto;
}

/* line 6, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_create.scss */
.album-create-container {
  padding: 0% 10%;
  margin-top: calc(4% + 50px);
  margin-bottom: 4%;
}

/* line 12, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_create.scss */
.album-created-selected-photos-container {
  min-height: 50vh;
}

/* line 16, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_create.scss */
.album-create-user-photos-list {
  display: flex;
  flex-wrap: wrap;
}

/* line 21, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_create.scss */
.album-create-list-image {
  max-width: 100px;
  max-height: 56.25px;
  margin-right: 5px;
  margin-bottom: 15px;
}

/* line 28, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_create.scss */
.album-create-selected-photos-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5%;
}

/* line 34, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_create.scss */
.album-create-no-photos {
  font-weight: 500;
  font-size: 28px;
  width: 75%;
  margin: auto;
  text-align: center;
  margin-top: 10%;
}

/* line 43, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_create.scss */
.album-create-selected-photos-list-item {
  max-width: 200px;
  max-height: 112.5px;
  margin-right: 5px;
  margin-bottom: 25px;
}

/* line 50, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_create.scss */
.album-create-input {
  border: 1px solid #B8B8B8;
  border-radius: 2px;
  padding: 2px 4px;
  margin-right: 10px;
  margin-bottom: 20px;
  background-color: #fff;
}

/* line 59, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_create.scss */
.album-create-button {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background-color: #128fdc;
  border-radius: 3px;
  padding: 5px 30px;
}

/* line 68, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_create.scss */
.album-create-button:hover {
  background-color: #1c9be9;
}
/* line 1, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_index.scss */
.album-index-container {
  padding: 5% 4%;
  flex: 1 0 auto;
}

/* line 6, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_index.scss */
.album-index-header {
  display: flex;
  justify-content: center;
}

/* line 11, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_index.scss */
.album-index-header > h1 {
  font-size: 50px;
  font-weight: 500;
}

/* line 16, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_index.scss */
.album-index-image-container {
  margin: 14% 7%;
}

/* line 20, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_index.scss */
.album-index-image {
  position: relative;
  max-width: 400px;
  border: 2px solid #898989;
  border-radius: 3px;
}

/* line 27, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_index.scss */
.album-index-image:hover {
  box-shadow: 1px 1px 8px #B8B8B8;
}

/* line 31, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_index.scss */
.album-index-title {
  position: absolute;
  left: 5%;
  bottom: 4%;
  color: #fff;
}

/* line 38, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_index.scss */
.album-index-list {
  display: flex;
  flex-wrap: wrap;
}

/* line 43, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_index.scss */
.album-index-delete {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #fff;
}

/* line 50, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_index.scss */
.album-index-delete:hover {
  color: red;
}

/* line 54, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_index.scss */
.album-index-new-album {
  font-size: 50px;
  font-weight: 400;
  color: #B8B8B8;
}

/* line 60, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_index.scss */
.album-index-new-album:hover {
  color: #898989;
}

/* line 64, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_index.scss */
.no-albums {
  background-color: #f3f5f6;
  height: 100vh;
}

/* line 69, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_index.scss */
.no-albums-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 500px);
  max-width: 1000px;
}

/* line 80, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_index.scss */
.no-albums-message > p {
  font-size: 50px;
  font-weight: 600;
}
/* line 1, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_show.scss */
.album-show-container {
  margin: 8% 7%;
  position: relative;
}

/* line 6, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_show.scss */
.back-to-albums {
  position: absolute;
  top: -30px;
  left: 0;
  font-weight: 500;
}

/* line 13, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_show.scss */
.album-show-image {
  max-width: 750px;
  max-height: 421.8px;
  align-content: center;
  margin: auto;
  position: relative;
}

/* line 21, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_show.scss */
.album-show-update-form {
  display: flex;
  flex-direction: column;
  z-index: 100;
  position: absolute;
  left: calc(50% - 150px);
  top: 50%;
}

/* line 30, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_show.scss */
.album-show-update-title {
  border: 1px solid #B8B8B8;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.25);
  color: #fff;
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
  min-width: 300px;
}

/* line 41, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_show.scss */
.album-show-update-description {
  border: 1px solid #B8B8B8;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.25);
  color: #fff;
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
}

/* line 51, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_show.scss */
.album-show-update-button {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background-color: rgba(0, 0, 118, 0.25);
  border: 1px solid #B8B8B8;
  border-radius: 3px;
  padding: 5px 30px;
  max-width: 50px;
  margin: auto;
}

/* line 63, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_show.scss */
.album-list-container {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
}

/* line 69, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_show.scss */
.album-list-photo {
  max-width: 300px;
  max-height: 168.75;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* line 76, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_show.scss */
.album-show-image > h3 {
  position: absolute;
  bottom: -65px;
  left: calc(50% - 75px);
  color: #fff;
}

/* line 83, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_show.scss */
.album-show-edit {
  position: absolute;
  bottom: -65px;
  right: 10px;
  color: #fff;
}

/* line 90, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_show.scss */
.album-show-edit:hover {
  color: #B8B8B8;
}
/* line 1, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_update.scss */
.album-update-container {
  padding: 5% 10%;
  background-color: #f3f5f6;
}

/* line 6, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_update.scss */
.album-updated-selected-photos-container {
  min-height: 50vh;
}

/* line 10, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_update.scss */
.album-update-user-photos-list {
  display: flex;
  flex-wrap: wrap;
}

/* line 15, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_update.scss */
.album-update-list-image {
  max-width: 100px;
  max-height: 56.25px;
  margin-right: 5px;
  margin-bottom: 15px;
}

/* line 22, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_update.scss */
.album-update-selected-photos-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5%;
}

/* line 28, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_update.scss */
.album-update-selected-photos-list-item {
  max-width: 200px;
  max-height: 112.5px;
  margin-right: 5px;
  margin-bottom: 25px;
}

/* line 35, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_update.scss */
.album-update-form {
  position: relative;
}

/* line 39, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_update.scss */
.album-update-button {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background-color: #128fdc;
  border-radius: 3px;
  padding: 5px 30px;
  position: absolute;
  right: 2%;
  bottom: 10px;
}

/* line 51, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_album_update.scss */
.album-update-button:hover {
  background-color: #1c9be9;
}
/* line 1, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_comments.scss */
.comment-index-container {
  margin-left: 25px;
  width: 30%;
  padding: 0 8%;
}

/* line 7, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_comments.scss */
.comment-index-list {
  border-top: 1px solid #B8B8B8;
}

/* line 15, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_comments.scss */
.comment-index-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

/* line 21, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_comments.scss */
.comment-index-username {
  color: #006dac;
  margin-bottom: 10px;
}

/* line 26, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_comments.scss */
.comment-index-description {
  display: flex;
  position: relative;
  font-style: 16px;
}

/* line 32, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_comments.scss */
.comment-index-delete {
  color: red;
  position: absolute;
  right: 0;
  font-size: 12px;
}

/* line 39, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_comments.scss */
.comment-create-container {
  margin-left: 55px;
  padding: 0 6%;
  margin-bottom: 2%;
}

/* line 45, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_comments.scss */
.comment-create-container > form {
  display: flex;
  flex-direction: column;
  width: 30%;
}

/* line 51, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_comments.scss */
.comment-create-description {
  background-color: white;
  height: 38px;
  min-height: 80px;
  border: 1px solid #B8B8B8;
  border-radius: 3px;
  padding: 10px 10px;
  vertical-align: top;
}

/* line 61, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_comments.scss */
.comment-create-button {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background-color: #128fdc;
  border-radius: 3px;
  padding: 5px 20px;
  width: 75px;
  float: right;
}

/* line 73, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_comments.scss */
.comment-create-button:hover {
  background-color: #1c9be9;
}

/* line 77, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_comments.scss */
.comment-none {
  padding: 0 10%;
  margin-bottom: 15px;
}
/* line 1, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_footer.scss */
html, body, main {
  height: 100%;
}

/* line 4, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_footer.scss */
main > div {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* line 10, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_footer.scss */
.footer {
  flex-shrink: 0;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  background-color: #000;
  height: 18px;
  padding: 12px;
  display: flex;
}

/* line 20, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_footer.scss */
.footer-items {
  display: flex;
  text-align: center;
  margin: auto;
}

/* line 26, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_footer.scss */
.footer-items > li {
  margin: 0 25px;
}

/* line 30, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_footer.scss */
.footer-items > li:hover {
  color: #fff;
}
/* line 1, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_in.scss */
.logged-in-navbar {
  background-color: black;
  height: 50px;
  display: flex;
  padding: 0 10%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

/* line 12, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_in.scss */
.logo-link-logged-in {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
}

/* line 18, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_in.scss */
.logo-link-logged-in:hover {
  color: #B8B8B8;
}

/* line 22, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_in.scss */
.search-bar-logged-in {
  display: flex;
  background-color: #fff;
  border-radius: 2px;
  padding: 5px;
  height: 24px;
  width: 250px;
  margin-top: 8px;
  margin-right: 18px;
}

/* line 33, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_in.scss */
.search-bar-logged-in > input {
  width: inherit;
}

/* line 37, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_in.scss */
.navbar-logged-in-links {
  color: #fff;
  margin-top: 10px;
}

/* line 42, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_in.scss */
.navbar-left-links {
  margin-left: 30px;
}

/* line 46, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_in.scss */
.navbar-left-links:hover {
  color: #B8B8B8;
}

/* line 50, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_in.scss */
.profile-popup {
  height: 50px;
  width: 50px;
  position: relative;
}

/* line 56, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_in.scss */
.profile-popup img {
  cursor: pointer;
}

/* line 60, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_in.scss */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
}

/* line 69, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_in.scss */
.header-popup {
  background-color: #fff;
  position: absolute;
  z-index: 10;
  border: 1px solid #B8B8B8;
  border-radius: 3px;
  top: 54px;
  right: 0;
  width: 325px;
  height: 150px;
  padding: 18px 12px;
}

/* line 82, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_in.scss */
.header-greet-name {
  font-size: 22px;
}

/* line 86, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_in.scss */
.header-greet-text {
  font-size: 14px;
}

/* line 90, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_in.scss */
.header-signout-link {
  color: #006dac;
  position: absolute;
  bottom: 18px;
  right: 12px;
}

/* line 97, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_in.scss */
.header-signout-link:hover {
  text-decoration: underline;
}

/* line 101, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_in.scss */
.header-upload-photo {
  max-width: 35px;
  max-height: 35px;
  margin-top: 10px;
  margin-right: 18px;
}

/* line 108, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_in.scss */
.navbar-logged-in-left {
  flex-grow: 0.6;
  display: flex;
  margin-top: 5px;
}

/* line 114, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_in.scss */
.navbar-logged-in-right {
  display: flex;
}
/* line 1, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_out.scss */
.logged-out-navbar {
  background-color: rgba(0, 0, 0, 0.25);
  height: 64px;
  display: flex;
  position: absolute;
  width: 100vw;
}

/* line 9, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_out.scss */
.logo-link-logged-out {
  margin-left: 25px;
  margin-top: 15px;
  flex-grow: 1;
  font-size: 26px;
  font-weight: 700;
  color: #fff;
}

/* line 18, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_out.scss */
.search-bar-logged-out {
  display: flex;
  flex-grow: 2;
  background-color: #fff;
  border-radius: 2px;
  padding: 5px;
  height: 24px;
  margin: auto;
}

/* line 28, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_out.scss */
.search-bar-logged-out > input {
  width: 280px;
}

/* line 32, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_out.scss */
.navbar-logged-out-links {
  flex-grow: 1;
}

/* line 36, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_out.scss */
.login-link {
  margin-top: 22px;
  margin-right: 20px;
  font-size: 15px;
  color: #fff;
  float: right;
}

/* line 44, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_out.scss */
.signup-button {
  margin-top: 15px;
  margin-right: 25px;
  font-size: 15px;
  font-weight: 500;
  color: black;
  background-color: #fff;
  border-radius: 3px;
  padding: 8px 20px;
  float: right;
}

/* line 56, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_out.scss */
.signup-button:hover {
  color: #888888;
}
/* line 1, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_photo_create.scss */
.photo-create-background {
  background-color: #f3f5f6;
  flex: 1 0 auto;
}

/* line 6, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_photo_create.scss */
.photo-create-container {
  padding: 0 10%;
  margin-top: calc(4% + 50px);
  margin-bottom: 4%;
}

/* line 12, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_photo_create.scss */
.photo-create-image {
  margin-bottom: 25px;
  min-height: 300px;
}

/* line 17, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_photo_create.scss */
.photo-preview {
  max-height: 35%;
  max-width: 35%;
}

/* line 22, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_photo_create.scss */
.photo-create-no-photo {
  font-weight: 500;
  font-size: 22px;
  margin-top: 10%;
}

/* line 28, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_photo_create.scss */
.photo-create-form {
  display: flex;
  flex-direction: column;
}

/* line 33, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_photo_create.scss */
.photo-create-title {
  width: 300px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #B8B8B8;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 20px;
  background-color: #fff;
}

/* line 44, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_photo_create.scss */
.photo-create-description {
  width: 300px;
  font-size: 14px;
  border: 1px solid #B8B8B8;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 20px;
  background-color: #fff;
}

/* line 54, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_photo_create.scss */
.photo-create-button {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background-color: #128fdc;
  border-radius: 3px;
  padding: 5px 30px;
  max-width: 100px;
}

/* line 64, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_photo_create.scss */
.photo-create-button:hover {
  background-color: #1c9be9;
}
/* line 1, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_photo_index.scss */
.photo-index-container-splash {
  margin-top: 50px;
  padding: 5% 7%;
  background-color: #f3f5f6;
  flex: 1 0 auto;
}

/* line 8, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_photo_index.scss */
.photo-index-item-container-splash {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  padding: 10px 2px;
  position: relative;
  min-height: 375px;
  margin: 5px 50px 45px;
  background-color: #fff;
  box-shadow: 1px 1px 8px #d6d6d6;
  padding: 10px 0;
}

/* line 20, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_photo_index.scss */
.photo-index-item-container-splash:hover {
  box-shadow: 1px 1px 8px #B8B8B8;
}

/* line 24, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_photo_index.scss */
.photo-image-splash {
  max-width: 400px;
}

/* line 28, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_photo_index.scss */
.photo-author {
  margin: 0 10px 5px;
  letter-spacing: 4px;
  font-size: 18px;
  color: #333333;
  margin-bottom: 5px;
}

/* line 36, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_photo_index.scss */
.photo-title {
  position: absolute;
  left: 5px;
  bottom: 15px;
  padding: 10px;
  color: #333;
}

/* line 44, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_photo_index.scss */
.photo-index-container {
  padding: 5% 7%;
  background-color: #f3f5f6;
  flex: 1 0 auto;
}

/* line 50, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_photo_index.scss */
.photo-index-container > h1 {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: 500;
}

/* line 57, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_photo_index.scss */
.photo-index-list-splash {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* line 63, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_photo_index.scss */
.photo-index-list-user {
  padding: 2% 0;
  display: flex;
  flex-wrap: wrap;
}

/* line 69, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_photo_index.scss */
.photo-index-item-container {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-bottom: 5px;
}

/* line 76, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_photo_index.scss */
.photo-index-item-container:hover {
  box-shadow: 5px 10px 8px #B8B8B8;
}

/* line 80, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_photo_index.scss */
.photo-image {
  width: 400px;
}
/* line 1, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_photo_show.scss */
.photo-show-background {
  background-color: #f3f5f6;
  flex: 1 0 auto;
}

/* line 6, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_photo_show.scss */
.photo-show {
  background: #212124;
  padding: 5% 3%;
  position: relative;
}

/* line 12, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_photo_show.scss */
.delete-link {
  color: #fff;
  position: absolute;
  bottom: 2%;
  right: 3%;
}

/* line 19, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_photo_show.scss */
.delete-link:hover {
  color: red;
}

/* line 23, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_photo_show.scss */
.photo-show-container {
  padding: 2% 10%;
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

/* line 30, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_photo_show.scss */
.update-form {
  display: flex;
  flex-direction: column;
}

/* line 35, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_photo_show.scss */
.update-form-text {
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #B8B8B8;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 20px;
  background-color: #fff;
}

/* line 45, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_photo_show.scss */
.update-form-textarea {
  font-size: 14px;
  border: 1px solid #B8B8B8;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #fff;
}

/* line 54, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_photo_show.scss */
.update-button {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background-color: #128fdc;
  border-radius: 3px;
  padding: 5px 30px;
  max-width: 40px;
}

/* line 64, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_photo_show.scss */
.update-button:hover {
  background-color: #1c9be9;
}

/* line 68, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_photo_show.scss */
.photo-show-title {
  font-weight: 500;
  margin-bottom: 15px;
}

/* line 73, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_photo_show.scss */
.photo-show-description {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 15px;
}

/* line 79, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_photo_show.scss */
.photo-show-editable-fields:hover {
  border-radius: 3px;
  background-color: #e9e9e9;
  cursor: url("../../images/edit_icon.png"), pointer;
}
/* line 1, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_session_form.scss */
.session-form-container {
  display: flex;
  justify-content: center;
  margin-top: calc(6% + 50px);
  margin-bottom: 6%;
  flex: 1 0 auto;
}

/* line 9, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_session_form.scss */
.session-form-box {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.15);
}

/* line 13, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_session_form.scss */
.session-form {
  display: flex;
  flex-direction: column;
  padding: 45px 25px;
}

/* line 19, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_session_form.scss */
.session-text {
  text-align: center;
}

/* line 23, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_session_form.scss */
.session-text > h2 {
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 500;
}

/* line 29, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_session_form.scss */
.session-input {
  border-bottom: 1px solid #B8B8B8;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 35, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_session_form.scss */
.session-submit {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  background-color: #188fff;
  border-radius: 2px;
  padding: 15px 125px;
  margin-top: 45%;
}

/* line 45, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_session_form.scss */
.session-submit:hover {
  background-color: #68b3f9;
}

/* line 49, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_session_form.scss */
.session-text-bottom {
  font-size: 14px;
  margin: auto;
  display: flex;
}

/* line 55, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_session_form.scss */
.session-text-bottom > p {
  margin-right: 5px;
}

/* line 59, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_session_form.scss */
.session-text-bottom > div {
  color: #188fff;
}

/* line 63, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_session_form.scss */
.session-text-bottom > div:hover {
  color: blue;
}
/* line 1, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_splash.scss */
.logged-out-splash-wallpaper {
  background-image: url(/assets/green-northern-lights-across-the-sky-478c21f13ca3fd4e15827a73489e32a4f5f00e9a2f4f509dd14e37f9a43a0aff.jpg);
  background-size: cover;
  height: calc(100vh - 40px);
  flex: 1 0 auto;
}

/* line 8, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_splash.scss */
.welcome-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 35%;
  left: 50%;
  margin-left: -300px;
}

/* line 19, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_splash.scss */
.intro-header {
  font-size: 46px;
  font-weight: 450;
  letter-spacing: 1px;
  color: #fff;
}

/* line 26, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_splash.scss */
.intro-text {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
  width: 600px;
  margin-top: 18px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 39, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_splash.scss */
.signup-button-main {
  background-color: #fff;
  padding: 18px 60px;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 500;
}

/* line 47, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_splash.scss */
.signup-button-main:hover {
  color: #888888;
}

/* line 51, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_splash.scss */
.wallpaper-sig {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 150px;
  bottom: 10%;
  left: 50%;
  margin-left: -75px;
}

/* line 65, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_splash.scss */
.logged-in-background {
  background-color: #f3f5f6;
  min-height: calc(100vh - 50px);
}
/* line 1, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_user_form.scss */
.signup-form-container {
  display: flex;
  justify-content: center;
  margin-top: calc(6% + 50px);
  margin-bottom: 6%;
  flex: 1 0 auto;
}

/* line 9, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_user_form.scss */
.signup-form-box {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.15);
}

/* line 13, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_user_form.scss */
.signup-form {
  display: flex;
  flex-direction: column;
  padding: 45px 25px;
}

/* line 19, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_user_form.scss */
.signup-text {
  text-align: center;
}

/* line 23, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_user_form.scss */
.signup-text > h2 {
  margin-bottom: 25px;
  font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
}

/* line 30, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_user_form.scss */
.signup-name {
  display: flex;
}

/* line 34, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_user_form.scss */
.signup-fname {
  border-bottom: 1px solid #B8B8B8;
  margin: 12px 0;
  margin-right: 14px;
}

/* line 40, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_user_form.scss */
.signup-lname {
  border-bottom: 1px solid #B8B8B8;
  margin: 12px 0;
}

/* line 45, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_user_form.scss */
.signup-input {
  border-bottom: 1px solid #B8B8B8;
  margin: 12px 0;
}

/* line 50, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_user_form.scss */
.signup-submit {
  font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  background-color: #188fff;
  border-radius: 2px;
  padding: 15px 125px;
  margin-top: 15%;
  display: flex;
  justify-content: center;
}

/* line 63, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_user_form.scss */
.signup-submit:hover {
  background-color: #68b3f9;
}

/* line 67, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_user_form.scss */
.signup-text-bottom {
  font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
  font-size: 14px;
  margin: auto;
  display: flex;
}

/* line 74, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_user_form.scss */
.signup-text-bottom > p {
  margin-right: 5px;
}

/* line 78, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_user_form.scss */
.signup-text-bottom > div {
  color: #188fff;
}

/* line 82, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_user_form.scss */
.signup-text-bottom > div:hover {
  color: blue;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

