html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}
/* line 1, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_footer.scss */
.footer {
  font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  background-color: #000;
  width: 100%;
  height: 18px;
  padding: 12px;
  display: flex;
}

/* line 12, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_footer.scss */
.footer-items {
  display: flex;
  text-align: center;
  margin: auto;
}

/* line 18, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_footer.scss */
.footer-items > li {
  margin: 0 25px;
}

/* line 22, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_footer.scss */
.footer-items > li:hover {
  color: #fff;
}
/* line 1, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_in.scss */
.logged-in-navbar {
  background-color: black;
  height: 50px;
  display: flex;
  padding: 0 10%;
}

/* line 8, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_in.scss */
.logo-link-logged-in {
  font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #fff;
}

/* line 15, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_in.scss */
.logo-link-logged-in:hover {
  color: #B8B8B8;
}

/* line 19, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_in.scss */
.search-bar-logged-in {
  display: flex;
  background-color: #fff;
  border-radius: 2px;
  padding: 5px;
  height: 24px;
  width: 250px;
  margin-top: 8px;
  margin-right: 18px;
}

/* line 30, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_in.scss */
.search-bar-logged-in > input {
  width: inherit;
}

/* line 34, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_in.scss */
.navbar-logged-in-links {
  font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
  color: #fff;
  margin-top: 10px;
}

/* line 40, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_in.scss */
.navbar-left-links {
  margin-left: 30px;
}

/* line 44, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_in.scss */
.navbar-left-links:hover {
  color: #B8B8B8;
}

/* line 48, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_in.scss */
.profile-popup {
  height: 50px;
  width: 50px;
  cursor: pointer;
  position: relative;
}

/* line 55, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_in.scss */
.header-popup {
  font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
  background-color: #fff;
  position: absolute;
  z-index: 10;
  border: 1px solid #B8B8B8;
  border-radius: 3px;
  top: 54px;
  right: 0;
  width: 325px;
  height: 150px;
  padding: 18px 12px;
}

/* line 69, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_in.scss */
.header-greet-name {
  font-size: 22px;
}

/* line 73, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_in.scss */
.header-greet-text {
  font-size: 14px;
}

/* line 77, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_in.scss */
.header-signout-link {
  color: #006dac;
  position: absolute;
  bottom: 18px;
  right: 12px;
}

/* line 84, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_in.scss */
.header-upload-photo {
  max-width: 35px;
  max-height: 35px;
  margin-top: 10px;
  margin-right: 18px;
}

/* line 91, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_in.scss */
.navbar-logged-in-left {
  flex-grow: 1;
  display: flex;
  margin-top: 5px;
}

/* line 97, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_in.scss */
.navbar-logged-in-right {
  display: flex;
  margin-right: 18px;
}
/* line 1, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_out.scss */
.logged-out-navbar {
  background-color: rgba(0, 0, 0, 0.25);
  height: 64px;
  display: flex;
  position: absolute;
  width: 100vw;
}

/* line 9, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_out.scss */
.logo-link-logged-out {
  margin-left: 25px;
  margin-top: 15px;
  flex-grow: 1;
  font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #fff;
}

/* line 19, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_out.scss */
.search-bar-logged-out {
  display: flex;
  flex-grow: 2;
  background-color: #fff;
  border-radius: 2px;
  padding: 5px;
  height: 24px;
  margin: auto;
}

/* line 29, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_out.scss */
.search-bar-logged-out > input {
  width: 180px;
}

/* line 33, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_out.scss */
.navbar-logged-out-links {
  flex-grow: 1;
}

/* line 37, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_out.scss */
.login-link {
  margin-top: 22px;
  margin-right: 20px;
  font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
  font-size: 15px;
  color: #fff;
  float: right;
}

/* line 46, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_out.scss */
.signup-button {
  margin-top: 15px;
  margin-right: 25px;
  font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: black;
  background-color: #fff;
  border-radius: 3px;
  padding: 8px 20px;
  float: right;
}

/* line 59, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_navbar_logged_out.scss */
.signup-button:hover {
  color: #888888;
}
/* line 1, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_session_form.scss */
.session-form-container {
  display: flex;
  justify-content: center;
  margin-bottom: 125px;
}

/* line 7, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_session_form.scss */
.session-form-box {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.15);
  width: 375px;
  margin-top: 189px;
}

/* line 13, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_session_form.scss */
.session-form {
  display: flex;
  flex-direction: column;
  padding: 45px 25px;
}

/* line 19, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_session_form.scss */
.session-text {
  text-align: center;
}

/* line 23, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_session_form.scss */
.session-text > h2 {
  margin-bottom: 25px;
  font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
}

/* line 30, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_session_form.scss */
.session-input {
  border-bottom: 1px solid #B8B8B8;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 36, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_session_form.scss */
.session-submit {
  font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  background-color: #188fff;
  border-radius: 2px;
  padding: 15px 125px;
  margin-top: 175px;
}

/* line 47, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_session_form.scss */
.session-submit:hover {
  background-color: #68b3f9;
}

/* line 51, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_session_form.scss */
.session-text-bottom {
  font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
  font-size: 14px;
  margin: auto;
  display: flex;
}

/* line 58, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_session_form.scss */
.session-text-bottom > p {
  margin-right: 5px;
}

/* line 62, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_session_form.scss */
.session-text-bottom > div {
  color: #188fff;
}

/* line 66, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_session_form.scss */
.session-text-bottom > div:hover {
  color: blue;
}
/* line 1, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_splash.scss */
.splash-wallpaper {
  background-image: url(/assets/green-northern-lights-across-the-sky-478c21f13ca3fd4e15827a73489e32a4f5f00e9a2f4f509dd14e37f9a43a0aff.jpg);
  background-size: cover;
  height: calc(100vh + 64px);
}

/* line 7, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_splash.scss */
.welcome-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 35%;
  left: 50%;
  margin-left: -300px;
}

/* line 18, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_splash.scss */
.intro-header {
  font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
  font-size: 46px;
  font-weight: 450;
  letter-spacing: 1px;
  color: #fff;
}

/* line 26, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_splash.scss */
.intro-text {
  font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
  width: 600px;
  margin-top: 18px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 40, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_splash.scss */
.signup-button-main {
  background-color: #fff;
  padding: 18px 60px;
  border-radius: 3px;
  font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
}

/* line 49, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_splash.scss */
.signup-button-main:hover {
  color: #888888;
}

/* line 53, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_splash.scss */
.wallpaper-sig {
  font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 150px;
  bottom: 0;
  left: 50%;
  margin-left: -75px;
}
/* line 1, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_user_form.scss */
.signup-form-container {
  display: flex;
  justify-content: center;
  margin-bottom: 125px;
}

/* line 7, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_user_form.scss */
.signup-form-box {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.15);
  width: 400px;
  margin-top: 189px;
}

/* line 13, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_user_form.scss */
.signup-form {
  display: flex;
  flex-direction: column;
  padding: 45px 25px;
}

/* line 19, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_user_form.scss */
.signup-text {
  text-align: center;
}

/* line 23, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_user_form.scss */
.signup-text > h2 {
  margin-bottom: 25px;
  font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
}

/* line 30, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_user_form.scss */
.signup-fname {
  border-bottom: 1px solid #B8B8B8;
  margin: 12px 0;
  margin-right: 14px;
}

/* line 36, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_user_form.scss */
.signup-lname {
  border-bottom: 1px solid #B8B8B8;
  margin: 12px 0;
  margin-left: 14px;
}

/* line 42, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_user_form.scss */
.signup-input {
  border-bottom: 1px solid #B8B8B8;
  margin: 12px 0;
}

/* line 47, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_user_form.scss */
.signup-submit {
  font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  background-color: #188fff;
  border-radius: 2px;
  padding: 15px 125px;
  margin-top: 175px;
}

/* line 58, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_user_form.scss */
.signup-submit:hover {
  background-color: #68b3f9;
}

/* line 62, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_user_form.scss */
.signup-text-bottom {
  font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
  font-size: 14px;
  margin: auto;
  display: flex;
}

/* line 69, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_user_form.scss */
.signup-text-bottom > p {
  margin-right: 5px;
}

/* line 73, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_user_form.scss */
.signup-text-bottom > div {
  color: #188fff;
}

/* line 77, /Users/dannywpeng/Desktop/Apertr/app/assets/stylesheets/components/_user_form.scss */
.signup-text-bottom > div:hover {
  color: blue;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

