.album-create-background {
  background-color: #f3f5f6;
  flex: 1 0 auto;
}

.album-create-container {
  padding: 0% 10%;
  margin-top: calc(4% + 50px);
  margin-bottom: 4%;
}

.album-created-selected-photos-container {
  min-height: 50vh;
}

.album-create-user-photos-list {
  display: flex;
  flex-wrap: wrap;
}

.album-create-list-image {
  max-width: 100px;
  max-height: 56.25px;
  margin-right: 5px;
  margin-bottom: 15px;
}

.album-create-selected-photos-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5%;
}

.album-create-selected-photos-list-item {
  max-width: 200px;
  max-height: 112.5px;
  margin-right: 5px;
  margin-bottom: 25px;
}

.album-create-input {
  border: 1px solid #B8B8B8;
  border-radius: 2px;
  padding: 2px 4px;
  margin-right: 10px;
  margin-bottom: 20px;
  background-color: #fff;
}

.album-create-button {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background-color: #128fdc;
  border-radius: 3px;
  padding: 5px 30px;
}

.album-create-button:hover {
  background-color: #1c9be9;
}
