.album-create-container {
  padding: 5% 10%;
}

.album-create-user-photos-list {
  display: flex;
}

.album-create-list-image {
  max-width: 300px;
  max-height: 169.75px;
  margin-right: 5px;
}

.album-create-selected-photos-list {
  display: flex;
  margin-bottom: 5%;
}

.album-create-selected-photos-list-item {
  max-width: 300px;
  max-height: 169.75px;
  margin-right: 5px;
}

.album-create-input-title {
  
}

.album-create-input-description {

}
