.album-index-image-container {
  padding: 18% 7%;
}

.album-index-image {
  position: relative;
  max-width: 400px;
  max-height: 225px;
}

.album-index-title {
  position: absolute;
  left: 15px;
  bottom: 15px;
  color: #fff;
}

.album-index-list {
  display: flex;
  flex-wrap: wrap;
}

.album-index-delete {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #fff;
}

.album-index-delete:hover {
  color: red;
}

.no-albums {
  background-color: #f3f5f6;
  height: calc(100vh - 50px);
}

.no-albums > p {
  text-align: center;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 400px);
  max-width: 800px;
  font-size: 50px;
  font-weight: 600;
}
