.album-index-container {
  background-color: #f3f5f6;
  min-height: calc(100vh - 402px);
  padding: 5px 150px;
}

.album-index-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.album-index-item-container {
  width: 250px;
  height: 250px;
  position: relative;
}

.album-index-image {
  height: 100%;
}

.album-index-image:hover {
  box-shadow: 1px 1px 8px #B8B8B8;
}

.album-index-title {
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: #fff;
}

.album-index-delete {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #fff;
}

.album-index-delete:hover {
  color: red;
}

.album-index-loading {
  background-color: #f3f5f6;
  min-height: 100vh;
  padding: 2% 5%;
}

.album-index-new-album {
  padding-top: 10px;
  padding-bottom: 10px;
  float: right;
  font-size: 17px;
  color: #898989;
}
