.comment-create-container {
  margin-top: 15px;
  width: 450px;
  display: flex;
}

.comment-create-container > img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 12px;
}

.comment-create-container > form {
  width: 100%;

  .comment-create-description {
    background-color: white;
    width: calc(100% - 20px);
    min-height: 80px;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    padding: 10px 10px;
    vertical-align: top;
  }

  .comment-create-description:focus {
    border: 1px solid #128fdc;
  }

  .comment-create-errors {
    color: red;
  }

  .comment-create-button {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    background-color: #128fdc;
    border-radius: 3px;
    padding: 5px 20px;
    width: 75px;
    float: right;
  }

  .comment-create-button:hover {
    background-color: #1c9be9;
  }
}

.comment-index-container {
  width: 450px;
  padding-top: 1%;
  margin-bottom: 2%;
}

.comment-index-item {
  display: flex;
  align-items: center;

  .comment-index-item-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 3% 1%;
    position: relative;

    .comment-index-owner {
      color: #006dac;
      margin-bottom: 5px;
    }

    .comment-index-owner > a:hover {
      text-decoration: underline;
    }

    .comment-index-description {
      font-size: 14px;

      .comment-index-item-update-form {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-top: 15px;
        margin-bottom: 15px;

        .comment-index-item-update-form-textarea {
          min-height: 50px;
          font-size: 14px;
          border: 1px solid #B8B8B8;
          border-radius: 3px;
          padding: 5px;
          margin-bottom: 10px;
          background-color: #fff;
        }

        .comment-index-item-update-form-textarea:focus {
          border: 1px solid #128fdc;
        }

        .comment-index-item-update-button {
          font-size: 16px;
          font-weight: 400;
          color: #fff;
          background-color: #128fdc;
          border-radius: 3px;
          padding: 5px 30px;
          max-width: 40px;
          position: absolute;
          right: 0;
          bottom: -28px;
        }

        .comment-index-item-update-button:hover {
          background-color: #1c9be9;
        }
      }
    }

    .comment-index-item-functions {
      visibility: hidden;
      display: flex;
      position: absolute;
      font-size: 12px;
      top: 0;
      right: 15px;
    }

    .comment-index-item-functions > p {
      color: #000;
      cursor: pointer;
    }

    .comment-index-item-functions > a {
      color: red;
      margin-left: 5px;
    }
  }
}

.comment-index-item > img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 12px;
}

.comment-index-item:hover .comment-index-item-functions {
  visibility: visible;
}
