html, body, main {
  height: 100%;
}

main > div {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.footer {
  flex-shrink: 0;
  font-size: 14px;
  color: hsla(0,0%,100%,.8);
  background-color: #000;
  height: 18px;
  padding: 12px;
  display: flex;
  z-index: 25;
}

.footer-items {
  display: flex;
  text-align: center;
  margin: auto;
}

.footer-items > li {
  margin: 0 25px;
}

.footer-items > li:hover {
  color: #fff;
}
