.navbar-logged-out {
  background-color: rgba(0, 0, 0, 0.25);
  height: 64px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  z-index: 5;

  .navbar-logged-out-logo {
    margin-left: 30px;
    margin-top: 15px;
    font-size: 26px;
    font-weight: 700;
    color: #fff;
  }

  .navbar-logged-out-redirects {
    margin-right: 30px;
    display: flex;
    align-items: center;

    .navbar-logged-out-login-link {
      font-size: 15px;
      color: #fff;
      margin-right: 20px;
    }

    .navbar-logged-out-signup-button {
      font-size: 15px;
      font-weight: 500;
      color: black;
      background-color: #fff;
      border-radius: 3px;
      padding: 8px 20px;
    }

    .navbar-logged-out-signup-button:hover {
      color: #888888;
    }
  }
}

.navbar-logged-in {
  background-color: #000;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 5;

  .navbar-logged-in-left {
    margin-left: 10%;
    display: flex;
    align-items: center;

    .navbar-logged-in-logo {
      font-size: 28px;
      font-weight: 700;
      color: #fff;
    }

    .navbar-logged-in-logo:hover {
      color: #B8B8B8;
    }

    .navbar-logged-in-links {
      color: #fff;
    }

    .navbar-logged-in-links > a {
      margin-left: 30px;
    }

    .navbar-logged-in-links:hover {
      color: #B8B8B8;
    }
  }

  .navbar-logged-in-right {
    display: flex;
    margin-right: 10%;

    .navbar-logged-in-search-bar {
      display: flex;
      align-items: center;
      margin-right: 18px;
      position: relative;

      .navbar-logged-in-search-bar-error {
        position: absolute;
        left: -200px;
        font-size: 14px;
        color: red;
      }

      .navbar-logged-in-search-bar-input-field {
        display: flex;
        align-items: center;
        background-color:  #fff;
        border-radius: 2px;
        position: relative;
      }

      #navbar-logged-in-search-bar-logo {
        color: #4e4e4e;
        position: absolute;
        left: 10px;
      }

      .navbar-logged-in-search-bar-input-field > input {
        transition: all 0.5s;
        background-color: #d3d5d6;
        width: 175px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 35px;
        border-radius: 2px;
      }

      .navbar-logged-in-search-bar-input-field > input:focus {
        background-color: #fff;
        width: 375px;
      }

      .navbar-logged-in-search-bar-input-field > input::placeholder {
        font-size: 14px;
        font-weight: normal;
        color: #8e8e8e;
      }
    }

    .navbar-logged-in-upload-icon {
      width: 35px;
      height: 25px;
      margin-top: 12px;
      margin-right: 18px;
      background-image: image-url("upload-logo.png");
      background-size: contain;
    }

    .navbar-logged-in-upload-icon:hover {
      background-image: image-url("upload-logo-hover.png");
      background-size: contain;
    }

    .navbar-logged-in-profile-popup {
      position: relative;
      display: flex;
      align-items: center;

      .navbar-logged-in-popup {
        background-color: #fff;
        position: absolute;
        z-index: 15;
        border: 1px solid #B8B8B8;
        border-radius: 3px;
        top: 54px;
        right: 0;
        width: 325px;
        height: 150px;
        padding: 18px 12px;

        .navbar-logged-in-greet-name {
          font-size: 22px;
          margin-bottom: 10px;
        }

        .navbar-logged-in-greet-text {
          font-size: 14px;
        }

        .navbar-logged-in-signout-link {
          color: #006dac;
          position: absolute;
          bottom: 18px;
          right: 12px;
          cursor: pointer;
        }

        .navbar-logged-in-signout-link:hover {
          text-decoration: underline;
        }
      }
    }

    .navbar-logged-in-profile-popup > img {
      border-radius: 50%;
      height: 35px;
      width: 35px;
      cursor: pointer;
    }
  }
}

.navbar-logged-in-header {
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 10%;
  background: #fff;
  border-bottom: 1px solid hsla(0,0%,54%,.3);
  z-index: 2;
}

.navbar-logged-in-header > p {
  padding: 15px;
  border-bottom: solid 3px #0091dc;
  cursor: pointer;
}
