.logged-in-navbar {
  background-color: #000;
  height: 50px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar-logged-in-left {
  flex-grow: 0.6;
  display: flex;
  align-items: center;
}

.logo-link-logged-in {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
}

.logo-link-logged-in:hover {
  color: #B8B8B8;
}

.navbar-logged-in-links {
  color: #fff;
}

.navbar-left-links {
  margin-left: 30px;
}

.navbar-left-links:hover {
  color: #B8B8B8;
}

.navbar-logged-in-right {
  display: flex;
}

.search-bar-logged-in {
  display: flex;
  align-items: center;
  margin-right: 18px;
}

.search-bar-input-field {
  display: flex;
  align-items: center;
  background-color:  #fff;
  border-radius: 2px;
  padding: 8px;
}

.search-bar-input-field > input {
  margin-left: 8px;
}

.search-bar-nav-error {
  margin-top: 10px;
  margin-right: 8px;
  font-size: 14px;
  color: red;
}

.header-upload-photo {
  max-width: 35px;
  max-height: 35px;
  margin-top: 10px;
  margin-right: 18px;
}

.profile-popup {
  position: relative;
  display: flex;
  align-items: center;
}

.profile-popup img {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  cursor: pointer;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 40;
}

.navbar-popup {
  background-color: #fff;
  position: absolute;
  z-index: 50;
  border: 1px solid #B8B8B8;
  border-radius: 3px;
  top: 54px;
  right: 0;
  width: 325px;
  height: 150px;
  padding: 18px 12px;

  .navbar-greet-name {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .navbar-greet-text {
    font-size: 14px;
  }

  .navbar-signout-link {
    color: #006dac;
    position: absolute;
    bottom: 18px;
    right: 12px;
  }

  .navbar-signout-link:hover {
    text-decoration: underline;
  }
}

.navbar-header {
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 12%;
  background: #fff;
  border-bottom: 1px solid hsla(0,0%,54%,.3);
}

.navbar-header > p {
  padding: 15px;
  border-bottom: solid 3px #0091dc;
  cursor: pointer;
}
