.logged-in-navbar {
  background-color: black;
  height: 50px;
  display: flex;
  padding: 0 10%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar-logged-in-left {
  flex-grow: 0.6;
  display: flex;
  margin-top: 5px;
}

.logo-link-logged-in {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
}

.logo-link-logged-in:hover {
  color: #B8B8B8;
}

.navbar-logged-in-links {
  color: #fff;
  margin-top: 10px;
}

.navbar-left-links {
  margin-left: 30px;
}

.navbar-left-links:hover {
  color: #B8B8B8;
}

.navbar-logged-in-right {
  display: flex;
}

.search-bar-logged-in {
  display: flex;
  background-color: #fff;
  border-radius: 2px;
  padding: 5px;
  height: 24px;
  width: 250px;
  margin-top: 8px;
  margin-right: 18px;
}

.search-bar-logged-in > input {
  width: inherit;
}

.header-upload-photo {
  max-width: 35px;
  max-height: 35px;
  margin-top: 10px;
  margin-right: 18px;
}

.profile-popup {
  position: relative;
  display: flex;
  align-items: center;
}

.profile-popup img {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  cursor: pointer;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
}

.header-popup {
  background-color: #fff;
  position: absolute;
  z-index: 10;
  border: 1px solid #B8B8B8;
  border-radius: 3px;
  top: 54px;
  right: 0;
  width: 325px;
  height: 150px;
  padding: 18px 12px;
}

.header-greet-name {
  font-size: 22px;
}

.header-greet-text {
  font-size: 14px;
}

.header-signout-link {
  color: #006dac;
  position: absolute;
  bottom: 18px;
  right: 12px;
}

.header-signout-link:hover {
  text-decoration: underline;
}
