.photo-create-background {
  background-color: #f3f5f6;
  flex: 1 0 auto;
}

.photo-create-container {
  padding: 0 10%;
  margin-top: calc(4% + 50px);
  margin-bottom: 4%;
}

.photo-create-image {
  margin-bottom: 25px;
  min-height: 300px
}

.photo-preview {
  max-height: 35%;
  max-width: 35%;
}

.photo-create-form {
  display: flex;
  flex-direction: column;
}

.photo-create-title {
  width: 300px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #B8B8B8;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 20px;
  background-color: #fff;
}

.photo-create-description {
  width: 300px;
  font-size: 14px;
  border: 1px solid #B8B8B8;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 20px;
  background-color: #fff;
}

.photo-create-button {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background-color: #128fdc;
  border-radius: 3px;
  padding: 5px 30px;
  max-width: 100px;
}

.photo-create-button:hover {
  background-color: #1c9be9;
}
