.photo-index-item-container-splash {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  padding: 10px 2px;
  position: relative;
  min-height: 375px;
  margin: 5px 50px 45px;
  background-color: #fff;
  box-shadow: 1px 1px 8px #d6d6d6; padding: 10px 0;
}

.photo-index-item-container-splash:hover {
  box-shadow: 1px 1px 8px #B8B8B8;
}

.photo-image-splash {
  max-width: 400px;
}

.photo-author {
  margin: 0 10px 5px;
  letter-spacing: 4px;
  font-size: 18px;
  color: #333333;
  margin-bottom: 5px;
}

.photo-title {
  position: absolute;
  left: 5px;
  bottom: 15px;
  padding: 10px;
  color: #333
}

.photo-index-container {
  padding: 8% 7%;
  background-color: #f3f5f6;
}

.photo-index-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photo-index-item-container {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-bottom: 5px;
}

.photo-index-item-container:hover {
  box-shadow: 5px 10px 8px #B8B8B8;
}

.photo-image {
  width: 400px;
}
