.photo-index-container {
  padding: 5px 10%;
}

.photo-index-list {
  display: flex;
  flex-wrap: wrap;
}

.photo-index-item-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #B8B8B8;
  border-radius: 3px;
  padding: 10px 2px;
}

.photo-image {
  max-width: 300px;
  max-height: 169.75px;
}
