.photo-show-background {
  background-color: #f3f5f6;
  flex: 1 0 auto;
}

.photo-show {
  background: #212124;
  margin-top: 50px;
  padding: 4% 3%;
  position: relative;
  height: 500px;
}

.photo-show > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.delete-link {
  color: #fff;
  position: absolute;
  bottom: 2%;
  right: 3%;
}

.delete-link:hover {
  color: red;
}

.photo-show-container {
  padding: 2% 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35%;
}

.photo-show-author {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 18px;
}

.photo-show-edit-errors {
  color: red;
}

.update-form {
  display: flex;
  flex-direction: column;
}

.update-form-text {
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #B8B8B8;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 20px;
  background-color: #fff;
}

.update-form-textarea {
  font-size: 14px;
  border: 1px solid #B8B8B8;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #fff;
}

.update-button {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background-color: #128fdc;
  border-radius: 3px;
  padding: 5px 30px;
  max-width: 40px;
}

.update-button:hover {
  background-color: #1c9be9;
}

.photo-show-editable-fields {
  min-height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.photo-show-editable-fields:hover {
  padding: 5px;
  border-radius: 3px;
  background-color: #e9e9e9;
  cursor: image-url("edit.png"), pointer;
}

.photo-show-title {
  font-weight: 500;
}

.photo-show-description {
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
}

.photo-show-ui {
  position: relative;
}
