.photo-index-container {
  padding: 5px 10%;
}

.photo-index-list {
  display: flex;
  flex-wrap: wrap;
}

.photo-index-item-container {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  padding: 10px 2px;
  position: relative;
  height: 250px;
  margin-top: 5px;
  margin-right: 5px;
  background-color: #fff;
}

.photo-title {
  position: absolute;
  bottom: 0;
}

.photo-image {
  max-width: 300px;
  max-height: 169.75px;
}
