.session-form-container {
  display: flex;
  justify-content: center;
  margin-bottom: 125px;
}

.session-form-box {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.15);
  width: 375px;
  margin-top: (125px+64px);
}

.session-form {
  display: flex;
  flex-direction: column;
  padding: 45px 25px;
}

.session-text {
  text-align: center;
}

.session-text > h2 {
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 500;
}

.session-input {
  border-bottom: 1px solid #B8B8B8;
  margin-top: 5px;
  margin-bottom: 5px;
}

.session-submit {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  background-color: #188fff;
  border-radius: 2px;
  padding: 15px 125px;
  margin-top: 175px;
}

.session-submit:hover {
  background-color: #68b3f9;
}

.session-text-bottom {
  font-size: 14px;
  margin: auto;
  display: flex;
}

.session-text-bottom > p {
  margin-right: 5px;
}

.session-text-bottom > div {
  color: #188fff;
}

.session-text-bottom > div:hover {
  color: blue;
}
