.logged-out-splash-wallpaper {
  background-image: image-url("green-northern-lights-across-the-sky.jpg");
  background-size: cover;
  height: calc(100vh - 40px);
  flex: 1 0 auto;
}

.welcome-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 35%;
  left: 50%;
  margin-left: -300px;
}

.intro-header {
  font-size: 46px;
  font-weight: 450;
  letter-spacing: 1px;
  color: #fff;
}

.intro-text {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
  width: 600px;
  margin-top: 18px;
  margin-bottom: 50px;
  text-align: center;
}

.signup-button-main {
  background-color: #fff;
  padding: 18px 60px;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 500;
}

.signup-button-main:hover {
  color: #888888;
}

.wallpaper-sig {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 150px;
  bottom: 10%;
  left: 50%;
  margin-left:-75px;
}

.logged-in-background {
  background-color: #f3f5f6;
  min-height: calc(100vh - 50px);
}
