.user-show-loading {
  margin-top: 50px;
  padding: 2% 5%;
  min-height: calc(100vh - 50px);
}

.user-show-cover-photo {
  margin-top: 50px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.user-show-cover-photo > img {
  object-fit: cover;
}

.user-show-profile-details-container {
  position: relative;
  height: 125px;
  font-weight: 300;
  font-size: 17px;
  color: #fff;
}

.user-show-details-left {
  position: absolute;
  left: 10%;
  bottom: 55px;
  padding: 1% 0;
  display: flex;
  align-items: center;
  height: 100%;
}

.user-show-details-left > img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.user-show-names {
  height: inherit;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-show-names > h1 {
  font-size: 30px;
}

.user-show-names > p {
  margin-top: 20px;
}

.user-show-details-right {
  position: absolute;
  right: 10%;
  bottom: 30px;
  display: flex;
}

.user-show-details-right > p:last-child {
  margin-left: 20px;
}

.user-show-nav-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 12%;
  background: #fff;
  border-bottom: 1px solid hsla(0,0%,54%,.3);
}

.user-show-nav-bar > p {
  padding: 15px;
  cursor: pointer;
  color: #333333;
}

.user-show-nav-bar > p:hover {
  color: #000;
  border-bottom: solid 3px #0091dc;
}

.user-show-nav-bar > p:last-child {
  margin-left: 18px;
}

.user-show-current-tab {
  border-bottom: solid 3px #0091dc;
  color: #000;
}
