.signup-form-container {
  display: flex;
  justify-content: center;
  margin-top: 125px;
  margin-bottom: 125px;
}

.signup-form-box {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.15);
  width: 400px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  padding: 45px 25px;
}

.signup-text {
  text-align: center;
}

.signup-text > h2 {
  margin-bottom: 25px;
  font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.signup-fname {
  border-bottom: 1px solid #B8B8B8;
  margin: 12px 0;
  margin-right: 14px;
}

.signup-lname {
  border-bottom: 1px solid #B8B8B8;
  margin: 12px 0;
  margin-left: 14px;
}

.signup-input {
  border-bottom: 1px solid #B8B8B8;
  margin: 12px 0;
}

.signup-submit {
  font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  background-color: #188fff;
  border-radius: 2px;
  padding: 15px 125px;
  margin-top: 175px;
}

.signup-submit:hover {
  background-color: #68b3f9;
}

.signup-text-bottom {
  font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
  font-size: 14px;
  margin: auto;
  display: flex;
}

.signup-text-bottom > p {
  margin-right: 5px;
}

.signup-text-bottom > div {
  color: #188fff;
}

.signup-text-bottom > div:hover {
  color: blue;
}
